<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <ul>
    {volist  name="data" id="vo"}
    <li>
      <h2>{$vo.song_name} <small>{$vo.singer}</small></h2>
      <p>{$vo.link}</p>
      <a href="/index/index/del?id={$vo.id}">删除</a>
    </li>
    {/volist}
  </ul>
  <form action="/index/index/add" method="post">
      <div>
        <label for="">歌曲名</label>
        <input type="text" name="song_name">
      </div>
      <div>
        <label for="">歌手</label>
        <input type="text" name="singer">
      </div>
      <div>
        <label for="">链接</label>
        <input type="text" name="link" id="">
      </div>
      <input type="submit" value="确定">
  </form>
</body>
</html>